$inactive-blue: #66CCFF;
$active-blue:   #478FB2;
$border-gray:   #E0E0E0;
$heading-gray:  #C8C8C8;

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.active {
  color: $active-blue;
}

.inactive {
  color: $inactive-blue;
}

body {
  background-color: $border-gray;
  font-family: arial;
}

h2 {
  font-family: arial;
  font-weight: bold;
  color: #C8C8C8;
}


.caret-down {
  position: absolute;
  top: .6em;
  left: 4.75em;
	width: 0; 
	height: 0; 
	border-left: 4.5px solid transparent;
	border-right: 4.5px solid transparent;
	border-top: 4.5px solid white;
}

.caret-up {
  position: absolute;
  top: .5em;
  left: 4.75em;
	width: 0; 
	height: 0; 
	border-left: 4.5px solid transparent;
	border-right: 4.5px solid transparent;
	border-bottom: 4.5px solid white;
}

.nav {
  position: relative;
  height: 2em;
  background-color: black;
  box-shadow: .25em .25em 5px #888888;
}

.title {
  width: auto;
  margin: 0 0 0 .5em;
  a {
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
  }
}

.drop-down {
  position: relative;
  z-index: 9999;
  margin: .25em 1em 0 0;
  width: 7.25em;
}

.drop-down-btn {
  display: block;
  width: 5em;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: .15em 0 .15em 0;
  border-radius: 2px;
  .caret{
  }
}

.drop-menu {
  padding: 0 .35em 0 .35em ;
  list-style: none;
  margin-top: 0em;
  background-color: black;
  box-shadow: .25em .25em 5px #888888;
  li {
    display: block;
    width: 6em;
    padding: .5em 0 0 .5em;
    border-top: 1px solid gray;
    margin-top: .25em;
    margin-bottom: .5em;
    a {
      display: block;
      text-decoration: none;
      font-family: arial;
      font-size: 14px;
      color: white;
    }
    a:hover {
      color: $inactive-blue;
    }
  }
  li:first-child {
    border: 0px;
  }
  li:last-child {
    padding: .5em 0 .5em .5em;
  }
}

.container {
  width: 95%;
  background-color: white;
  margin: auto;
}

.row {
  width: 90%;
  height: 52em;
  margin: auto;
  margin-top: .15em;
  padding-bottom: .75em;
  .col-1-1 {
    width: 100%;
    float: left;
    margin-left: 0;
  }
  .col-1-3 {
    width: 32.33%;
    float: left;
    margin-left: 1%;
  }
  
  .col-2-3 {
    width: 65.66%;
    float: left;
    margin-left: 1%;
  }
  
  .col-1-3:first-child {
    width: 33%;
    float: left;
    margin-left: 0;
  }
    
  .col-2-3:first-child {
    width: 66%;
    float: left;
    margin-left: 0;
  }
  .col-1-4 {
    width: 24%;
    float: left;
    margin-left: 1%;
  }
  .col-2-4 {
    width: 49%;
    float: left;
    margin-left: 1%;
  }
}

.project {
  font-family: arial;
  font-weight: bold;
  border-top: 1px solid $border-gray;
  padding: .75em 0 .75em 1em;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: $active-blue;
  }
  .delete {
    text-decoration: underline;
    font-size: 12px;
    color: #A30000;
  }
}


.project-form {
  h2 {
    @extend h2;
    color: black;
  }
  *:focus {
    outline: none;
  }
  ul {
    width:800px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
    li {
      padding:12px;
      position:relative;
      input {
        height:20px; 
        width:220px; 
        padding:5px 8px;
        border-radius: 5px;
      }
      input[type=submit] {
        margin-left: 205px;
        height: 2em;
        color: white;
        font-size: 18px;
        font-weight: bold;
        background-color: $inactive-blue;
        border: 1px solid $inactive-blue;
        border-bottom: 1px solid $active-blue;
        border-right: 1px solid $active-blue;
        border-radius: 2px;
      }
      label {
        width:200px;
        margin-top: 3px;
        display:inline-block;
        float:left;
        padding:3px;
      }
    }
  }
}
