<header>
  <div class="nav">
    <div class="title left">
    <%= link_to "TasKitty", projects_path %>
    </div>

    <div class="drop-down right">
      <a href="#" class="drop-down-btn inactive">
        Manager
        <div class="caret-down"></div>
      </a>
      <ul class="drop-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>

    <div class="drop-down right">
      <a href="#" class="drop-down-btn inactive">
        Account
        <div class="caret-down"></div>
      </a> 
      <ul class="drop-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</header>
